
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    color: #333;
}

.navbar {
    background-color: #0C234B;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 10vh;
    width: 100%;
    top: 0;
    z-index: 1000;
    overflow-y: hidden;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

/* Hero Section */
.hero {
    padding: 100px 20px;
    text-align: center;
    background-color: #AB0520;
    color: white;
}

/* News Grid */
.news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.news-grid article {
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.news-grid article img {
    width: 100%;
}

/* Footer */
footer {
    background: #0C234B;
    color: white;
    text-align: center;
    padding: 15px;
}
